<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Emmett Brown</h2>
            <h4>great_scott@gmail.com</h4>
        </div>
        <img src="https://i.pinimg.com/originals/92/87/03/9287039e01a057dfab28ed0ae8471e5e.jpg" > 
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkctiver="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkctiver="list-item-active" routerLink="/post">Post</a>
    <a mat-list-item routerLinkctiver="list-item-active" routerLink="/articles">Articles</a>
</mat-nav-list>